# Mac related
.DS_Store

# User directory
/user/*

/figures/*

# Exlude massive data files
/data/surrogate_model/TrainedModel_256HD_3HL_16384batchsize_1000epochs_full.jld2
/data/surrogate_model/SynGEOROC*