Manifest.toml
/data/surrogate_model/TrainedModel_256HD_3HL_16384batchsize_1000epochs_full.jld2
/user/*

# For the first round, we do not add visualization routines
/scripts/create_figures.jl
/scripts/thermodynamic_functionality.jl
/scripts/viz_functionality.jl
/scripts/evaluate_crossValidation.jl
/scripts/evaluate_Network_accuracy.jl