# Mac related
.DS_Store

# User directory
/user/*

# For the first round, we do not add visualization routines
/scripts/thermodynamic_functionality.jl
/scripts/viz_functionality.jl
/figures/*

# Exlude massive data files
/data/surrogate_model/TrainedModel_256HD_3HL_16384batchsize_1000epochs_full.jld2
/data/surrogate_model/SynGEOROC*